{
	margin:0;
	padding:0;
	border:0;
}

body {
    background-color: white;
    font-family: "Arial", sans-serif;
    color: #0e7de6;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}
.dicey-logo {
    height: 60px;
    padding-right: 5px;
}

.dicey {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    max-height: 450px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#players-score {
  
  text-align: left;
}

#score {
	font-size: 3rem;
	color: black;
}

.bi-emoji-sunglasses {
	color: blue;
}

#computers-score {
    padding-left: 30px;
}

#incorrect {
	font-size: 3rem;
	color: black;
}

.bi-emoji-frown {
	color: red;
}

.scores div {
	 display: inline;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
	justify-content: center;
	align-items: center;
  }
  

img {
    border-radius: 12px;
  }
  
  

.select-level {
    width: 85%;
    margin: 30px auto;
}
.numbers span {
    color: #ffffff;
}

.display-dice span {
    padding: 0 15px;
}
/* --------- Buttons */
.bi {
	border: none;
    font-size: 3.2rem;
    transition: all 0.5s;
}



.bi-dice-2-fill {
    color: green;
}

.bi-dice-3-fill {
    color: pink;
}

.bi-dice-4-fill {
    color: blue;
}

.bi-dice-5-fill {
    color: red;
}

.bi-dice-6-fill {
    color: yellow;
}

/* --------- Media queries */

/*iMac Pro*/
@media screen and (max-width: 5000px) {

}


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 414px) {
.dicey-logo {
	display: none;
}

.heading {
	font-size: 2rem;
}

#score {
    font-size: 1.5rem;
}

#incorrect {
    font-size: 1.5rem;
}

.bi {
    font-size: 2rem;
}

img {
	width: 50px;
	height: auto;
	border-radius: 8px;
}

@media (max-width: 360px) {
	
.dicey-logo {
	display: none;
}

.heading {
	font-size: 1.5rem;
}

#score {
    font-size: 1.5rem;
}

#incorrect {
    font-size: 1.5rem;
}

.bi {
    font-size: 1.5rem;
}

}
 	img {
	width: 45px;
	height: auto;
	border-radius: 5px;
}